<div class="container">
    <p-card>
        <h3>問卷</h3>
        <p-divider></p-divider>
        <div class="row">
            <div class="col-6">
                <div class="flex flex-column gap-2">
                    <label htmlFor="username">姓名</label>
                    <input pInputText id="username" aria-describedby="username-help" />
                </div>
            </div>
            <div class="col-6">
                <div class="flex flex-column gap-2">
                    <label htmlFor="phone">手機</label>
                    <input pInputText id="phone" aria-describedby="phone-help" />
                </div>
            </div>

            <div class="col-6">
                <label htmlFor="password">密碼</label>
                <p-password [(ngModel)]="value" [toggleMask]="true"
                    styleClass="p-password p-component p-inputwrapper p-input-icon-right" [style]="{'width':'100%'}"
                    [inputStyle]="{'width':'100%'}"></p-password>
            </div>

            <div class="p-checkbox">
                <div class="col-1">
                    <p-checkbox name="groupname" value="val1" label="Angular" [(ngModel)]="selectedValues"></p-checkbox>
                </div>
            </div>

            <div class="p-checkbox">
                <div class="col-1">
                    <p-checkbox name="groupname" value="val2" label="Bonita" [(ngModel)]="selectedValues"></p-checkbox>
                </div>
            </div>

            <div class="p-checkbox">
                <div class="col-1">
                    <p-checkbox name="groupname" value="val3" label="Database"
                        [(ngModel)]="selectedValues"></p-checkbox>
                </div>
            </div>

            <div class="p-checkbox">
                <div class="col-1">
                    <p-checkbox name="groupname" value="val4" label="Golang" [(ngModel)]="selectedValues"></p-checkbox>
                </div>
            </div>


            <div class="col-6">
                <div class="flex flex-column gap-2">
                    <label htmlFor="re-password">確認密碼</label>
                    <p-password [(ngModel)]="value1" [feedback]="false"
                        styleClass="p-password p-component p-inputwrapper p-input-icon-right" [style]="{'width':'100%'}"
                        [inputStyle]="{'width':'100%'}"></p-password>
                </div>
            </div>
            <div class="col-6">
                <div class="flex flex-column gap-2">
                    <label htmlFor="mail">Email</label>
                    <input pInputText id="mail" aria-describedby="mail" />
                </div>
            </div>
            <div class="col-6">
                <label htmlFor="city">城市</label>
                <p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name"
                    styleClass="p-password p-component p-inputwrapper p-input-icon-right" [style]="{'width':'100%'}"
                    [inputStyle]="{'width':'100%'}"></p-dropdown>
            </div>

            <div class="col-6">

                <label htmlFor="job">職業</label>
                <p-dropdown [options]="job" [(ngModel)]="selectedJob" optionLabel="profession"
                    styleClass="p-password p-component p-inputwrapper p-input-icon-right" [style]="{'width':'100%'}"
                    [inputStyle]="{'width':'100%'}"></p-dropdown>
            </div>


            <div class="col-6">
                <label htmlFor="job"><br>填寫日期</label>
                <p-calendar [(ngModel)]="value2" styleClass="p-password p-component p-inputwrapper p-input-icon-right"
                    [style]="{'width':'99%'}" [inputStyle]="{'width':'100%'}" [showIcon]="true"
                    inputId="icon"></p-calendar>
            </div>


            <div class="col-1">
                <label htmlFor="gen"><br>性別</label>

                <div class="radio-buttons">
                    <p-radioButton name="gender" value="male" [(ngModel)]="ingredient"
                        inputId="ingredient1"></p-radioButton>
                    <label for="ingredient1" class="ml-2">男</label>

                </div>
            </div>

            <div class="col-1">
                <label htmlFor="gen"><br><br></label>
                <div class="radio-buttons">
                    <p-radioButton name="gender" value="famle" [(ngModel)]="ingredient"
                        inputId="ingredient2"></p-radioButton>
                    <label for="ingredient2" class="ml-2">女</label>

                </div>
            </div>


            <div class="col-1">
                <label htmlFor="gen"><br><br></label>
                <div class="radio-buttons">
                    <p-radioButton name="gender" value="other" [(ngModel)]="ingredient"
                        inputId="ingredient3"></p-radioButton>
                    <label for="ingredient3" class="ml-2">其他</label>

                </div>
            </div>


            <div class="col-6">
                <label htmlFor="qa"><br>問題/評論<br></label>
                <textarea rows="2" cols="30" pInputTextarea [(ngModel)]="value3" [style]="{'width':'98%'}"></textarea>
            </div>



            <div class="e-button">
                <div class="col-12">
                    <p-button label="送出" styleClass="p-button-rounded"></p-button>
                </div>

            </div>
        </div>
    </p-card>
</div>