<div class="container">
    <p-card>
        <h3>基本資料</h3>
        <p-divider></p-divider>
        <div class="row">
            <div class="col-3">
                <div class="flex flex-column gap-2">
                    <label htmlFor="username">姓名</label>
                    <input pInputText id="username" aria-describedby="username-help" />
                </div>
            </div>

            <div class="col-3">
                <div class="flex flex-column gap-2">
                    <label htmlFor="username">系所</label>
                    <input pInputText id="username" aria-describedby="username-help" />
                </div>
            </div>

            <div class="col-3">
                <div class="flex flex-column gap-2">
                    <label htmlFor="username">年級</label>
                    <input pInputText id="username" aria-describedby="username-help" />
                </div>
            </div>

            <div class="col-3">
                <div class="flex flex-column gap-2">
                    <label htmlFor="username">性別</label>
                    <input pInputText id="username" aria-describedby="username-help" />
                </div>
            </div>

            <div class="col-4">
                <div class="flex flex-column gap-2">
                    <label htmlFor="year">出生年</label>
                    <input placeholder="西元" pInputText>
                </div>
            </div>

            <div class="col-4">
                <div class="flex flex-column gap-2">
                    <label htmlFor="month">出生月</label>
                    <input placeholder="月份" pInputText>
                </div>
            </div>

            <div class="col-4">
                <div class="flex flex-column gap-2">
                    <label htmlFor="date">出生日</label>
                    <input placeholder="日期" pInputText>
                </div>
            </div>
            <div class="col-12">
                <div class="flex flex-column gap-2">
                    <label htmlFor="address">地址</label>
                    <input pInputText id="address" aria-describedby="address-help" />
                </div>
            </div>

            <div class="col-6">
                <div class="flex flex-column gap-2">
                    <label htmlFor="mail">電子郵件</label>
                    <input pInputText id="mail" aria-describedby="mail-help" />
                </div>
            </div>

            <div class="col-6">
                <div class="flex flex-column gap-2">
                    <label htmlFor="phone">連絡電話</label>
                    <input pInputText id="phone" aria-describedby="phone-help" />
                </div>
            </div>
            <div class="text-center">
                <p-button label="送出" styleClass="p-button-rounded"></p-button>
                <p-button label="取消" styleClass="p-button-rounded p-button-secondary"></p-button>

            </div>

        </div>

    </p-card>

</div>